div(layout='row', flex)
  include ./leftSidenav.jade
  #content(layout='column', flex)
      md-content.md-padding(layout='column', flex)
        .view-animate-container
          .view-animate(ng-view)
