md-sidenav.md-sidenav-right.md-whiteframe-4dp.sidenav-wrapper(md-component-id='right', layout='column', md-is-locked-open='$mdMedia(\'gt-sm\')', ng-show='logged')
  md-button.md-accent(ng-click='exportKey()')
    md-icon.md-20(md-font-set='material-icons') file_download
    | Export
  md-button.md-accent(ng-click='importKey()')
    md-icon.md-20(md-font-set='material-icons') file_upload
    | Import
  input#upload-btn(type='file', custom-on-change='upload', style='display:none', accept='.am')
