md-toolbar(layout='row')
  .md-toolbar-tools
    md-button.md-icon-button
      //-md-icon(md-font-set='material-icons', aria-label='app logo') account_circle
      md-icon(md-font-set='material-icons', aria-label='app logo') lock_outline
    h3 Accountmanager
    span(flex)
    md-button.md-icon-button(ng-click='toggleSidenav(\'right\')', hide-gt-sm, ng-show='logged')
      md-icon(md-font-set='material-icons', aria-label='toggle menu') menu
